.type-26 {
    .margin_one {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .box_style_one{
        background-color: #fff;
        padding: 30px 30px 0px 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        border: 1px solid #ededed;
        .panel-group{
            margin-bottom: 20px;
            .panel{
                border-radius: 5px;
            }
        }
    }
    .panel-default{
        .panel-heading{
            background-color: #fff;
            padding: 20px;
            border-bottom: 1px solid #ddd;
            .panel-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: inherit;
                a{
                    display: block;
                    color: #444;
                    outline: none;
                    transition: all 0.2s ease;
                   i{
                       float: right;
                   }
                }
            }
        }
    }
    .panel{
        box-shadow: none;
        border-color: #ededed;
    }
}