.type-28 .box_style_1 {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
  margin-bottom: 30px;
}
.type-28 ul#cat_nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-28 ul#cat_nav li {
  border-bottom: 1px solid #ededed;
}
.type-28 ul#cat_nav li a {
  display: block;
  padding: 15px 10px;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
.type-28 ul#cat_nav li a i {
  float: right;
}
.type-28 ul#cat_nav li a:hover {
  background: #f9f9f9;
  color: #111;
}
.type-28 .nomargin_top {
  margin-top: 0;
}
.type-28 .accordion-toggle {
  text-decoration: none;
  font-weight: 700;
}
.type-28 .panel-default > .panel-heading {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.type-28 .panel-default > .panel-heading a i {
  float: right;
}
.type-28 .accordion-toggle:hover {
  color: #ed145b;
}
.type-28 .accordion-toggle:focus {
  color: #ed145b;
}
