body {
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #555 !important;
  background-color: #f5f5f5;
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}
.type-2 {
  margin-top: 20px;
  width: 100Ì€;
}
.type-2 .type-2-header {
  text-align: center;

  margin: 0 auto;
}
.type-2 .type-2-header h3 {
  font-weight: 300;
  color: #222;
  font-size: 38px;
  margin: 0 0 10px 0;
  padding: 0;
}
.type-2 .type-2-header .type-2-span0 {
  color: #ed145b;
  font-weight: 300;
}
.type-2 .type-2-header p {
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}
.type-2 .type-2-header .type-2-span2 {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
  margin: auto;
}
.type-2 .type-2-header .type-2-span2 em {
  width: 60px;
  height: 2px;
  background-color: #ed145b;
  display: block;
  margin: auto;
}
.type-2 .type-2-banner {
  margin-top: 40px;
}
.type-2 .type-2-banner .type-2-bao {
  background: #fff;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: 1px solid #ededed;
  margin-bottom: 35px;
  padding: 40px 25px 0 25px;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #666;
  min-height: 235px;
  display: block;
}
.type-2 .type-2-banner .type-2-bao span {
  border-radius: 50%;
  border: 1px solid #ededed;
  background-color: #fff;
  position: absolute;
  top: -25px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-weight: bold;
  font-size: 16px;
  left: 50%;
  margin-left: -25px;
}
.type-2 .type-2-banner .type-2-bao p {
  padding-bottom: 20px;
}
.type-2 .type-2-banner .type-2-bao i {
  font-size: 75px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: #0ea598;
  transition: all 0.5s ease;
}
.type-2 .type-2-banner .type-2-bao:hover {
  transform: translate(0,-10px);
}
