.type-25 {
  background-color: #f5f5f5 !important;
}
.type-25 .fullduckxxx {
  padding: 100px 0px;
}
.type-25 .hieudeotrai .checked {
  color: orange;
}
.type-25 .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
}
.type-25 .nav-tabs {
  background-color: #fff;
  padding: 30px;
  border-bottom: 0px solid #ddd;
  padding-bottom: 0px;
}
.type-25 .quantity {
  float: left;
}
.type-25 .input-text {
  height: 32px;
  margin-right: 10px;
  border-radius: 30px;
  border: 2px solid #1aa79b;
  color: #1aa79b;
  width: 3.631em;
  text-align: center;
  padding: 5px 0px 5px 11px;
}
.type-25 .button-cart {
  height: 32px;
  background: #1aa79b;
  border: 2px solid #1aa79b;
  color: #fff;
  padding: 6px 20px;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
}
.type-25 .tab-content {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.type-25 .nav-tabs>li>a {
  color: #555;
}
.type-25 .nav-tabs>li>a:hover {
  color: #ed145b;
}
.type-25 .nav>li>a:focus,
.type-25 .nav>li>a:hover {
  background-color: none;
}
.type-25 .comment_container {
  margin-left: -40px;
}
.type-25 #profile h2 {
  margin-bottom: 30px;
  color: #333;
  font-weight: 700;
  text-align: center;
  font-size: 44px;
  margin-top: 0px;
  padding-top: 30px;
}
.type-25 #profile .commentlist .comment-text {
  border: 1px solid #e4e1e3;
  border-radius: 4px;
  padding: 1em 1em 0;
  margin: 0 0 0 70px;
}
.type-25 #profile .commentlist .comment-text p.meta {
  font-size: .83em;
  color: #777;
}
.type-25 #profile .commentlist .comment-text p.meta strong {
  text-transform: capitalize;
  color: #333;
}
.type-25 #profile .commentlist img.avatar {
  float: left;
  position: absolute;
  padding: 3px;
  width: 69px;
  height: auto;
  background: #ebe9eb;
  border: 1px solid #e4e1e3;
  margin: 0;
  box-shadow: none;
}
.type-25 #profile .commentlist .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
}
.type-25 #profile .commentlist .star-rating .checked {
  color: orange;
}
.type-25 #profile .comment-reply-title {
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
.type-25 #profile .form-comment .yourreview {
  display: block;
}
.type-25 #profile .form-comment label {
  color: #555;
  font-weight: 500;
}
.type-25 #profile .form-comment textarea#comment {
  width: 50%;
  height: 120px;
  padding: 10px;
}
.type-25 #profile .form-comment .p {
  display: block;
}
.type-25 #profile .form-comment .comment-form-author label {
  margin-right: 8px;
}
.type-25 #profile .form-comment .comment-form-email label {
  margin-right: 10px;
}
.type-25 .form-submit input {
  color: #fff;
  background-color: #1aa79b;
  border: 2px solid #1aa79b;
  height: 34px;
  padding: 6px 15px;
  border-radius: 30px;
  width: 130px;
}
