body {
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #555 !important;
  background-color: #f5f5f5;
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}
.type-29 {
  padding-top: 60px;
  padding-bottom: 60px;

}
  
.type-29:before {
  content: " ";
  display: table;
}
.type-29 .row:before {
  content: " ";
  display: table;
}
.type-29 .row .box_style_general {
  background-color: #fff;
  padding: 30px 30px 0 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.type-29 .row .box_style_general hr {
  margin: 30px -45px 30px -45px;
  border: 0;
  border-top: 3px solid #f5f5f5;
}
.type-29 .row .box_transport {
  padding-left: 100px;
  position: relative;
}
.type-29 .row .box_transport i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60px;
  line-height: 1;
  color: #999;
}
.type-29 .row .box_transport .icon_set_1_icon-25:before {
  content: '\f1b9';
  font-family: FontAwesome;
  font-style: normal;
  color: #222;
}
.type-29 .row .box_transport .icon_set_1_icon-21:before {
  content: '\f0b1';
  font-family: FontAwesome;
  font-style: normal;
  color: #222;
}
.type-29 .row .box_transport .icon_set_1_icon-26:before {
  content: '\f152';
  font-family: FontAwesome;
  font-style: normal;
  color: #222;
}
.type-29 .row .box_transport .icon_set_1_icon-5:before {
  content: '\f013';
  font-family: FontAwesome;
  font-style: normal;
  color: #222;
}
.type-29 .row .box_transport h3 {
  color: #222;
}
.type-29 .row .box_transport a {
  color: #1aa79b;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
}
.type-29 .row .box_transport a:hover {
  color: #ed145b;
}
.type-29 .row .box_transport a:focus {
  color: #ed145b;
}
