.type-5{
   margin-top: 20px;
}
.type-5 .title-banner {
 
  text-align: center;
  margin: 0 auto 60px;
  width: 70%;
}
.type-5 .title-banner h3 {
  font-weight: 300;
  color: #222;
  font-size: 38px;
  margin: 0 0 10px 0;
  padding: 0;
}
.type-5 .title-banner span {
  color: #ed145b;
  font-weight: 300;
}
.type-5 .title-banner p {
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}
.type-5 .title-banner .redbanner {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
  margin: auto;
}
.type-5 .title-banner .redbanner em {
  width: 60px;
  height: 2px;
  background-color: #ed145b;
  display: block;
  margin: auto;
}
.type-5 .tab-banner nav {
  text-align: center;
}
.type-5 .tab-banner nav a {
  color: #1aa79b;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.5;
  padding: 0 1.25em;
  white-space: nowrap;
}
.type-5 .tab-banner nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.type-5 .tab-banner nav ul li {
  float: left;
  margin: 0 0.25em;
  display: block;
  border: 2px solid #ccc;
  position: relative;
  border-radius: 30px;
}
.type-5 .tab-banner nav ul li a span {
  color: #1aa79b;
}
.type-5 .tab-banner .w3-bar {
  text-align: center;
}
.type-5 .tab-banner .w3-bar .tab-current {
  border: 2px solid #1aa79b;
  background-color: #1aa79b;
  color: #fff;
}
.type-5 .tab-banner .w3-bar .tab-current:hover {
  color: #fff;
}
.type-5 .tab-banner .tab-bannerimg ul {
  list-style: none;
  margin: 0 0 30px 0;
  width: 100%;
  padding: 0;
}
.type-5 .tab-banner .tab-bannerimg ul li {
  position: relative;
  padding: 15px 5px 10px 85px;
  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid #ededed;
  transition: all 0.3s ease;
  display: table;
}
.type-5 .tab-banner .tab-bannerimg ul li figure {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 10px;
}
.type-5 .tab-banner .tab-bannerimg ul li figure .img-rounded {
  border-radius: 6px;
}
.type-5 .tab-banner .tab-bannerimg ul li figure img {
  width: 60px;
  height: auto;
}
.type-5 .tab-banner .tab-bannerimg ul li h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #222;
}
.type-5 .tab-banner .tab-bannerimg ul li a small {
  color: #777;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.type-5 .tab-banner .tab-bannerimg ul li:hover {
  transition: all 0.3s ease;
}
.type-5 .tab-banner .tab-bannerimg ul li:hover a {
  text-decoration: none;
}
.type-5 .tab-banner .tab-bannerimg ul li:hover .sa1 {
  padding-left: 10px;
  transition: all 0.3s ease;
}
