body {
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #555 !important;
  background-color: #f5f5f5;
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}
body .type-16 {
  background-color: #eee;
}
body .type-16 .container {
  padding: 30px;
}
body .type-16 .container h4 {
  color: #222;
}
body .type-16 .container .theSidebar {
  padding-top: 0px;
  padding-bottom: 1px;
  position: static;
  top: -864px;
  left: 982px;
}
body .type-16 .container .theSidebar #custom-search {
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
}
body .type-16 .container .theSidebar #custom-search .form-control {
  border: 0;
  font-size: 14px;
  box-shadow: none;
}
body .type-16 .container .theSidebar #custom-search button {
  margin: 2px 0 0 0;
  box-shadow: none;
  background: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ddd;
  outline: none;
}
body .type-16 .container .theSidebar #custom-search button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
  color: #ec008c;
}
body .type-16 .container .theSidebar #custom-search button .icon-search-1:before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
}
body .type-16 .container .theSidebar hr {
  margin: 30px 0 20px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #fff;
}
body .type-16 .container .theSidebar .widget a {
  text-decoration: none !important;
}
body .type-16 .container .theSidebar .widget h4 {
  color: #222;
  text-transform: uppercase;
  font-size: 16px;
}
body .type-16 .container .theSidebar .widget ul {
  padding-left: 0px !important;
}
body .type-16 .container .theSidebar .widget ul li {
  list-style: none !important;
}
body .type-16 .container .theSidebar .widget ul li a {
  color: #555;
  line-height: 24px;
}
body .type-16 .container .theSidebar .widget ul.recent_post li {
  padding: 0 0 8px 0;
  margin-bottom: 15px;
  border-bottom: 1px #e7e7e7 dotted;
  color: #313131;
  list-style: none;
  line-height: 18px;
  padding-bottom: 15px;
  color: #888;
  font-style: italic;
}
body .type-16 .container .theSidebar .widget ul.recent_post li .icon-calendar-empty:before {
  content: "\f133";
  font-family: FontAwesome;
  font-style: normal;
}
body .type-16 .container .theSidebar .widget ul.recent_post li div {
  padding-left: 25px;
  font-style: normal;
}
body .type-16 .container .theSidebar .widget ul.recent_post li a {
  color: #555;
  line-height: 24px;
}
body .type-16 .container .theSidebar .widget ul.recent_post li a:hover {
  color: #111;
}
body .type-16 .container .theSidebar .wp-tag-cloud li {
  display: inline-block;
  margin: 5px 14px 10px 0;
  padding: 5px 10px;
  color: #555;
  border: 2px solid #fff;
}
body .type-16 .container .theSidebar .wp-tag-cloud li:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #555;
  text-decoration: none;
}
