.type-21 {
  background: #f5f5f5;
}
.type-21 .hihi {
  padding-top: 60px;
  padding-bottom: 30px;
  margin-left: 16.66666667%;
}
.type-21 .box_style_general {
  background-color: #fff;
  padding: 30px 30px 0 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.type-21 .box_style_general hr {
  margin: 30px -45px 30px -45px;
  border: 0;
  border-top: 3px solid #f5f5f5;
}
.type-21 .box_style_general label {
  color: #555;
  font-weight: 500;
}
.type-21 .box_style_general .step {
  padding: 20px 0 0 31px;
  margin: 0 0 10px 20px;
}
.type-21 .box_style_general .form-group {
  margin-bottom: 20px;
  position: relative;
}
.type-21 .box_style_general .form-control {
  color: #333;
  height: 40px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #ddd;
  box-shadow: 0;
}
.type-21 .box_style_general .form_title {
  position: relative;
  padding-left: 55px;
  margin-bottom: 10px;
}
.type-21 .box_style_general .form_title p {
  color: #999;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
}
.type-21 .box_style_general .form_title h3 strong {
  background-color: #ed145b;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
.type-21 .styled-select-2 {
  background: #f5f5f5;
}
.type-21 .styled-select-2 select {
  background: transparent;
  width: 100%;
  padding: 7px 5px 5px 15px;
  border: 0;
  border-radius: 0;
  height: 37px;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  color: #444;
  box-shadow: none;
}
.text-center .add_bottom {
  padding: 10px 30px;
  display: inline-block;
  background-color: #1aa79b;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.text-center .add_bottom:hover {
  color: #fff;
  background-color: #ed145b;
}
