.type-1{
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 199;
        .navbar{
            background: transparent;
            .navbar-brand{
                img{
                    margin-left: 10px;
                }
            }
            .navbar-nav{
                margin-left: auto;
                .nav-link{
                    color: #fff;
                }
            }
        }
    }
    .header-video{
        position: relative;
        overflow: hidden;
        background: #000;
        #hero_video{
            position: relative;
            background-size: cover;
            color: #fff;
            width: 100%;
            font-size: 16px;
            display: table;
            height: 100%;
            z-index: 99;
            text-align: center;
            #sub_content_in{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding: 0 10%;
                background: rgba(0,0,0,0.6) url(../images/shadow_single.png) repeat-x bottom left;
                h1 {
                    margin-top: 60px;
                    color: #fff;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 42px;
                    margin-bottom: 0;
                }
                p{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 300;
                    margin-bottom: 25px;
                }
            }
        }
        .teaser-video{
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }
}