.one {
  margin-bottom: 20px;
  border: 1px solid #ededed;
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.one a {
  color: #1aa79b;
  text-decoration: none;
  transition: all 0.2s ease;
  outline: none;
  background-color: transparent;
}
.one img {
  vertical-align: middle;
  border: 0;
}
.one .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
