.type-17 .boxUScontact {
  background-color: #fff;
  padding: 30px 50px 0 30px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.type-17 .boxUScontact label {
  color: #555;
  font-weight: 500;
}
.type-17 .boxUScontact .contacusname p {
  color: #999;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 14px;
}
.type-17 .boxUScontact .contacusname h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 26px;
}
.type-17 .boxUScontact .add_bottom {
  padding: 10px 30px;
  display: inline-block;
  background-color: #1aa79b;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.type-17 .boxUScontact .add_bottom:hover {
  color: #fff;
  background-color: #ed145b;
}
.type-17 .thucngu {
  padding: 10px 30px;
  display: inline-block;
  background-color: #1aa79b;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.type-17 .thucngu:hover {
  color: #fff;
  background-color: #ed145b;
}
