.type-19 .general {
  background-color: #fff;
  padding: 30px 30px 0px 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.type-19 .general .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.type-19 .audio {
  padding-left: 60px;
  position: relative;
}
.type-19 .audio h3 {
  color: #222;
}
.type-19 .audio p {
  margin-bottom: 25px;
  margin: 0 0 10px;
}
.type-19 .audio .audio-offscreen {
  clip: rect(1px,1px,1px,1px);
  clip-path: polygon(0 0,0 0,0 0,0 0);
  position: absolute !important;
  height: 1px;
  width: 1px;
}
.type-19 .audio-container {
  position: relative;
  background: #000;
  font-family: Arial, Helvetica;
  text-align: left;
  vertical-align: top;
  text-indent: 0;
}
.type-19 .audio-container .audio-inner .audio-mediaelement {
  position: absolute;
  top: 0;
  left: 0;
}
.type-19 .audio-container .audio-inner .audio-mediaelement .audio {
  height: 0;
  vertical-align: baseline;
}
.type-19 .audio-container .audio-inner .audio-players .audio-poster {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.type-19 .audio-container .audio-inner .audio-controls {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(50,50,50,0.7),rgba(0,0,0,0.7));
  height: 30px;
  width: 100%;
}
.type-19 .audio-container .audio-inner .audio-controls div {
  list-style-type: none;
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 11px;
  line-height: 11px;
  font-family: Arial, Helvetica;
  border: 0;
}
.type-19 .audio-container .audio-inner .audio-controls .audio-button button {
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  margin: 7px 5px;
  padding: 0;
  position: absolute;
  height: 16px;
  width: 16px;
  border: 0;
  background: url(../images/controls.svg) no-repeat;
}
.type-19 .audio-container .audio-inner .audio-controls .audio-time {
  color: #fff;
  display: block;
  height: 17px;
  width: auto;
  padding: 10px 3px 0;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
}
.type-19 .audio-container .audio-inner .audio-controls .audio-time-rail {
  direction: ltr;
  padding-top: 5px;
}
.type-19 .audio-container .audio-inner .audio-controls .audio-time-rail .audio-time-total {
  margin: 5px;
  background: linear-gradient(#1e1e1f,rgba(60,60,60,0.8));
}
.type-19 .audio-container .audio-inner .audio-controls .audio-time-rail span {
  display: block;
  position: absolute;
  height: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.type-19 .audio-container .audio-inner .audio-controls a {
  color: #1aa79b;
  text-decoration: none;
  transition: all 0.2s ease;
  outline: none;
}
.type-19 .audio-container .audio-inner .audio-controls a .download {
  float: right;
  margin-top: -35px;
  color: #eb1d5d;
  display: i;
}
.type-19 .audio-container .audio-inner .audio-controls a .audio-horizontal-volume-slider {
  height: 26px;
  width: 56px;
  position: relative;
  display: block;
  float: left;
}
.type-19 .audio-container .audio-inner .audio-controls a .audio-horizontal-volume-slider .audio-horizontal-volume-total {
  position: absolute;
  left: 0;
  top: 11px;
  width: 50px;
  height: 8px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  border-radius: 2px;
  background: linear-gradient(#1e1e1f,rgba(60,60,60,0.8));
}
.type-19 .audio-container .audio-inner .audio-controls a .audio-horizontal-volume-slider .audio-horizontal-volume-current {
  position: absolute;
  left: 0;
  top: 11px;
  height: 8px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  border-radius: 2px;
  background: linear-gradient(rgba(255,255,255,0.9),rgba(200,200,200,0.8));
}
.type-19 .audio-container .audio-inner .audio-controls a .audio-horizontal-volume-slider .audio-horizontal-volume-handle {
  display: none;
}
.type-19 .audio-container .audio-inner .audio-clear {
  clear: both;
}
